.navigation__item-leaf a {
  padding: 10px 20px;
  border: 1px solid #006699;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #006699;
  -webkit-font-smoothing: antialiased; }

.navigation__item-leaf a:hover {
  color: #006699;
  border-color: #006699; }

.navigation__item-leaf {
  display: inline-block;
  margin: 3px 3px;
  line-height: 1em; }

.navigation__item-leaf a {
  display: block;
  position: relative;
  border-color: #FFF;
  color: #FFF;
  opacity: .7; }

.navigation__item-leaf a:hover {
  color: #FFF;
  border-color: #FFF;
  opacity: 1; }

.navigation__item a {
  padding: 10px 20px;
  border: 1px solid #006699;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #006699;
  -webkit-animation-name: leafShadow;
  animation-name: leafShadow;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-font-smoothing: antialiased; }

.navigation__item a:hover {
  color: #006699;
  border-color: #006699; }

.navigation__item {
  display: inline-block;
  margin: 3px 3px;
  line-height: 1em; }

.navigation__item a {
  display: block;
  position: relative;
  border-color: #FFF;
  color: #FFF;
  opacity: .7; }

.navigation__item a:hover {
  color: #FFF;
  border-color: #FFF;
  opacity: 1; }

.navigation--social {
  margin-left: 100px; }

.navigation--social a {
  padding: 6px 8px 6px 9px; }

.navigation--social a .label {
  display: none; }

.navigation--social a .icon {
  display: block;
  font-size: 1.7em; }

.panel-title-leaf-NW {
  display: inline-block;
  color: #FFF;
  font-size: 2.7em;
  -webkit-animation-name: leafTitle-NW;
  animation-name: leafTitle-NW;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-NE {
  display: inline-block;
  color: #FFF;
  font-size: 2.7em;
  -webkit-animation-name: leafTitle-NE;
  animation-name: leafTitle-NE;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-SW {
  display: inline-block;
  color: #FFF;
  font-size: 2.7em;
  -webkit-animation-name: leafTitle-SW;
  animation-name: leafTitle-SW;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-SE {
  display: inline-block;
  color: #FFF;
  font-size: 2.7em;
  -webkit-animation-name: leafTitle-SE;
  animation-name: leafTitle-SE;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-S {
  display: inline-block;
  color: #EEE;
  font-size: 2.5em; }

@keyframes leafShadow {
  0% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.3), 0 2px 35px rgba(255, 255, 255, 0.3), 2px 0 20px rgba(255, 255, 255, 0.3); }
  15% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.4), 0 -2px 5px rgba(255, 255, 255, 0.4), 0 2px 35px rgba(255, 255, 255, 0.4), 2px 0 20px rgba(255, 255, 255, 0.4); }
  25% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.6), 0 -2px 5px rgba(255, 255, 255, 0.6), 0 2px 35px rgba(255, 255, 255, 0.6), 2px 0 20px rgba(255, 255, 255, 0.6); }
  35% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.8), 0 -2px 5px rgba(255, 255, 255, 0.8), 0 2px 35px rgba(255, 255, 255, 0.8), 2px 0 20px rgba(255, 255, 255, 0.8); }
  45% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.1), 0 -2px 5px white, 0 2px 35px white, 2px 0 20px white; }
  65% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.8), 0 -2px 5px rgba(255, 255, 255, 0.8), 0 2px 35px rgba(255, 255, 255, 0.8), 2px 0 20px rgba(255, 255, 255, 0.8); }
  75% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.6), 0 -2px 5px rgba(255, 255, 255, 0.6), 0 2px 35px rgba(255, 255, 255, 0.6), 2px 0 20px rgba(255, 255, 255, 0.6); }
  85% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.4), 0 -2px 5px rgba(255, 255, 255, 0.4), 0 2px 35px rgba(255, 255, 255, 0.4), 2px 0 20px rgba(255, 255, 255, 0.4); }
  100% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.3), 0 2px 35px rgba(255, 255, 255, 0.3), 2px 0 20px rgba(255, 255, 255, 0.3); } }
@keyframes leafTitle-NW {
  50% {
    transform: translate(-3px, 7px) rotate(4deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.16), 0 -2px 5px rgba(255, 255, 255, 0.3), 0 2px 35px rgba(255, 255, 255, 0.4), 2px 0 20px rgba(255, 255, 255, 0.29); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
@keyframes leafTitle-NE {
  50% {
    transform: translate(10px, 10px) rotate(2deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.59), 0 -2px 5px rgba(255, 255, 255, 0.16), 0 2px 35px rgba(255, 255, 255, 0.77), 2px 0 20px rgba(255, 255, 255, 0.48); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
@keyframes leafTitle-SW {
  50% {
    transform: translate(-2px, 8px) rotate(4deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.73), 0 -2px 5px rgba(255, 255, 255, 0.42), 0 2px 35px rgba(255, 255, 255, 0.52), 2px 0 20px rgba(255, 255, 255, 0.65); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
@keyframes leafTitle-SE {
  50% {
    transform: translate(6px, -1px) rotate(5deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.19), 0 -2px 5px rgba(255, 255, 255, 0.79), 0 2px 35px rgba(255, 255, 255, 0.77), 2px 0 20px rgba(255, 255, 255, 0.59); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

/*# sourceMappingURL=leaf.css.map */
