.navigation__item-leaf a {
  padding: 10px 20px;
  border: 1px solid #006699;
  border-radius: 17px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #006699;
  -webkit-font-smoothing: antialiased; }
.navigation__item-leaf a:hover {
    color: #006699;
    border-color: #006699; }

.navigation__item-leaf {
  display: inline-block;
  margin: 3px 3px;
  line-height: 1em; }
  .navigation__item-leaf a {
    display: block;
    position: relative;
    border-color: #FFF;
    color: #FFF;
    opacity: .7; }
    .navigation__item-leaf a:hover {
      color: #FFF;
      border-color: #FFF;
      opacity: 1; }


.navigation__item a {
  padding: 10px 20px;
  border: 1px solid #006699;
  border-radius: 20px;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: none;
  color: #006699;
  -webkit-animation-name: leafShadow;
          animation-name: leafShadow;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-font-smoothing: antialiased; }
.navigation__item a:hover {
    color: #006699;
    border-color: #006699; }

.navigation__item {
  display: inline-block;
  margin: 3px 3px;
  line-height: 1em; }
  .navigation__item a {
    display: block;
    position: relative;
    border-color: #FFF;
    color: #FFF;
    opacity: .7; }
    .navigation__item a:hover {
      color: #FFF;
      border-color: #FFF;
      opacity: 1; }

.navigation--social {
  left: 3px; }
  .navigation--social a {
    padding: 6px 8px 6px 9px; }
    .navigation--social a .label {
      display: none; }
    .navigation--social a .icon {
      display: block;
      font-size: 1.7em; }

.panel-title-leaf-NW {
    display: inline-block;
    color: #FFF;
    font-size: 2.7em;    
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-NW;
            animation-name: leafTitle-NW;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-NE {
    display: inline-block;
    color: #FFF;
    font-size: 2.7em;
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-NE;
            animation-name: leafTitle-NE;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-SW {
    display: inline-block;
    color: #FFF;
    font-size: 2.7em;
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-SW;
            animation-name: leafTitle-SW;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-SE {
    display: inline-block;
    color: #FFF;
    font-size: 2.7em;    
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-SE;
            animation-name: leafTitle-SE;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-S {
    display: inline-block;
    color: #EEE;
    font-size: 2.5em;
}
.article-bar{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-left: 10%;
    text-align: left;
    border-left: 0px solid #E0FFFF;
}

.article-bar-item{
    list-style-type:none;
    display: flex;    
    justify-content: flex-start;    
    margin: -5px -5px;
    line-height: 0em;
    height: 50px;
}
.article-bar-sign{
    content: "";
    width: 5px;
    height: 5px;
    background: #32CD32;
    border: 3px solid #E0FFFF;
    border-radius: 100%;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: -1px;
    -webkit-animation-name: leafShadow;
            animation-name: leafShadow;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.article-bar-text{
  margin-left: 60px;
  position: relative;
  font-family: Microsoft YaHei;
  font-size: 18px;
  -webkit-animation-name: leafTextShadow;
          animation-name: leafTextShadow;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.article-bar-text:before{
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  background: #EEE;
  left: -46px;
  top: 10px;
}
.article-bar-text:after{
  content: "";
  position: absolute;
  height: 2px;
  width: 22px;
  background: #EEE;
  left: -64px;
  top: 3px;
  transform: rotate(43deg);
}
.article-bar-sign-selected{
    content: "";
    width: 5px;
    height: 5px;
    background: #32CD32;
    border: 3px solid #E0FFFF;
    border-radius: 100%;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: -1px;
    -webkit-animation-name: leafShadowSeleted;
            animation-name: leafShadowSeleted;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.article-bar-text-selected{
  margin-left: 60px;
  position: relative;
  font-family: Microsoft YaHei;
  font-size: 18px;
  -webkit-animation-name: leafTextShadowSelected;
          animation-name: leafTextShadowSelected;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.article-bar-text-selected:before{
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  background: #4EEE94;
  left: -46px;
  top: 10px;
}
.article-bar-text-selected:after{
  content: "";
  position: absolute;
  height: 2px;
  width: 22px;
  background: #4EEE94;
  left: -64px;
  top: 3px;
  transform: rotate(43deg);
}


@keyframes leafTextShadow {
  0%{
    text-shadow: 0 0 5px rgba(255,255,255,.3), 0 0 10px rgba(255,255,255,.3), 0 0 15px rgba(255,255,255,.3), 0 0 40px rgba(255,255,255,.3), 0 0 70px rgba(255,255,255,.3);
  }
  15%{
    text-shadow: 0 0 5px rgba(255,255,255,.4), 0 0 10px rgba(255,255,255,.4), 0 0 15px rgba(255,255,255,.4), 0 0 40px rgba(255,255,255,.4), 0 0 70px rgba(255,255,255,.4);
  }
  25%{
    text-shadow: 0 0 5px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0 0 15px rgba(255,255,255,.5), 0 0 40px rgba(255,255,255,.5), 0 0 70px rgba(255,255,255,.5);
  }
  35%{
    text-shadow: 0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(255,255,255,.7), 0 0 15px rgba(255,255,255,.7), 0 0 40px rgba(255,255,255,.7), 0 0 70px rgba(255,255,255,.7);
  }
  45%{
    text-shadow: 0 0 5px rgba(255,255,255,1), 0 0 10px rgba(255,255,255,1), 0 0 15px rgba(255,255,255,1), 0 0 40px rgba(255,255,255,1), 0 0 70px rgba(255,255,255,1);
  }
  65%{
    text-shadow: 0 0 5px rgba(255,255,255,.7), 0 0 10px rgba(255,255,255,.7), 0 0 15px rgba(255,255,255,.7), 0 0 40px rgba(255,255,255,.7), 0 0 70px rgba(255,255,255,.7);
  }
  75%{
    text-shadow: 0 0 5px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0 0 15px rgba(255,255,255,.5), 0 0 40px rgba(255,255,255,.5), 0 0 70px rgba(255,255,255,.5);
  }
  85%{
    text-shadow: 0 0 5px rgba(255,255,255,.4), 0 0 10px rgba(255,255,255,.4), 0 0 15px rgba(255,255,255,.4), 0 0 40px rgba(255,255,255,.4), 0 0 70px rgba(255,255,255,.4);
  }
  100%{
    text-shadow: 0 0 5px rgba(255,255,255,.3), 0 0 10px rgba(255,255,255,.3), 0 0 15px rgba(255,255,255,.3), 0 0 40px rgba(255,255,255,.3), 0 0 70px rgba(255,255,255,.3);
  }

}
@keyframes leafTextShadowSelected {
  0%{
    text-shadow: 0 0 5px rgba(0,238,118,.3), 0 0 10px rgba(0,238,118,.3), 0 0 15px rgba(0,238,118,.3), 0 0 40px rgba(0,238,118,.3), 0 0 70px rgba(0,238,118,.3);
  }
  15%{
    text-shadow: 0 0 5px rgba(0,238,118,.4), 0 0 10px rgba(0,238,118,.4), 0 0 15px rgba(0,238,118,.4), 0 0 40px rgba(0,238,118,.4), 0 0 70px rgba(0,238,118,.4);
  }
  25%{
    text-shadow: 0 0 5px rgba(0,238,118,.5), 0 0 10px rgba(0,238,118,.5), 0 0 15px rgba(0,238,118,.5), 0 0 40px rgba(0,238,118,.5), 0 0 70px rgba(0,238,118,.5);
  }
  35%{
    text-shadow: 0 0 5px rgba(0,238,118,.7), 0 0 10px rgba(0,238,118,.7), 0 0 15px rgba(0,238,118,.7), 0 0 40px rgba(0,238,118,.7), 0 0 70px rgba(0,238,118,.7);
  }
  45%{
    text-shadow: 0 0 5px rgba(0,238,118,1), 0 0 10px rgba(0,238,118,1), 0 0 15px rgba(0,238,118,1), 0 0 40px rgba(0,238,118,1), 0 0 70px rgba(0,238,118,1);
  }
  65%{
    text-shadow: 0 0 5px rgba(0,238,118,.7), 0 0 10px rgba(0,238,118,.7), 0 0 15px rgba(0,238,118,.7), 0 0 40px rgba(0,238,118,.7), 0 0 70px rgba(0,238,118,.7);
  }
  75%{
    text-shadow: 0 0 5px rgba(0,238,118,.5), 0 0 10px rgba(0,238,118,.5), 0 0 15px rgba(0,238,118,.5), 0 0 40px rgba(0,238,118,.5), 0 0 70px rgba(0,238,118,.5);
  }
  85%{
    text-shadow: 0 0 5px rgba(0,238,118,.4), 0 0 10px rgba(0,238,118,.4), 0 0 15px rgba(0,238,118,.4), 0 0 40px rgba(0,238,118,.4), 0 0 70px rgba(0,238,118,.4);
  }
  100%{
    text-shadow: 0 0 5px rgba(0,238,118,.3), 0 0 10px rgba(0,238,118,.3), 0 0 15px rgba(0,238,118,.3), 0 0 40px rgba(0,238,118,.3), 0 0 70px rgba(255,255,255,.3);
  }

}
@keyframes leafShadowSeleted {
  0%{
    box-shadow: -2px 0 20px rgba(0,238,118,.3),0 -2px 5px rgba(0,238,118,.3),0 2px 35px rgba(0,238,118,.3),2px 0 20px rgba(0,238,118,.3);
  }
  15%{
    box-shadow: -2px 0 20px rgba(0,238,118,.4),0 -2px 5px rgba(0,238,118,.4),0 2px 35px rgba(0,238,118,.4),2px 0 20px rgba(0,238,118,.4);
  }
  25%{
    box-shadow: -2px 0 20px rgba(0,238,118,.6),0 -2px 5px rgba(0,238,118,.6),0 2px 35px rgba(0,238,118,.6),2px 0 20px rgba(0,238,118,.6);
  }
  35%{
    box-shadow: -2px 0 20px rgba(0,238,118,.8),0 -2px 5px rgba(0,238,118,.8),0 2px 35px rgba(0,238,118,.8),2px 0 20px rgba(0,238,118,.8);
  }
  45%{
    box-shadow: -2px 0 20px rgba(0,238,118,.1),0 -2px 5px rgba(0,238,118,1),0 2px 35px rgba(0,238,118,1),2px 0 20px rgba(0,238,118,1);
  }
  65%{
    box-shadow: -2px 0 20px rgba(0,238,118,.8),0 -2px 5px rgba(0,238,118,.8),0 2px 35px rgba(0,238,118,.8),2px 0 20px rgba(0,238,118,.8);
  }
  75%{
    box-shadow: -2px 0 20px rgba(0,238,118,.6),0 -2px 5px rgba(0,238,118,.6),0 2px 35px rgba(0,238,118,.6),2px 0 20px rgba(0,238,118,.6);
  }
  85%{
    box-shadow: -2px 0 20px rgba(0,238,118,.4),0 -2px 5px rgba(0,238,118,.4),0 2px 35px rgba(0,238,118,.4),2px 0 20px rgba(0,238,118,.4);
  }
  100%{
   box-shadow: -2px 0 20px rgba(0,238,118,.3),0 -2px 5px rgba(0,238,118,.3),0 2px 35px rgba(0,238,118,.3),2px 0 20px rgba(255,255,255,.3);
  }
}
@keyframes leafShadow {
  0%{
    box-shadow: -2px 0 20px rgba(255,255,255,.3),0 -2px 5px rgba(255,255,255,.3),0 2px 35px rgba(255,255,255,.3),2px 0 20px rgba(255,255,255,.3);
  }
  15%{
    box-shadow: -2px 0 20px rgba(255,255,255,.4),0 -2px 5px rgba(255,255,255,.4),0 2px 35px rgba(255,255,255,.4),2px 0 20px rgba(255,255,255,.4);
  }
  25%{
    box-shadow: -2px 0 20px rgba(255,255,255,.6),0 -2px 5px rgba(255,255,255,.6),0 2px 35px rgba(255,255,255,.6),2px 0 20px rgba(255,255,255,.6);
  }
  35%{
    box-shadow: -2px 0 20px rgba(255,255,255,.8),0 -2px 5px rgba(255,255,255,.8),0 2px 35px rgba(255,255,255,.8),2px 0 20px rgba(255,255,255,.8);
  }
  45%{
    box-shadow: -2px 0 20px rgba(255,255,255,.1),0 -2px 5px rgba(255,255,255,1),0 2px 35px rgba(255,255,255,1),2px 0 20px rgba(255,255,255,1);
  }
  65%{
    box-shadow: -2px 0 20px rgba(255,255,255,.8),0 -2px 5px rgba(255,255,255,.8),0 2px 35px rgba(255,255,255,.8),2px 0 20px rgba(255,255,255,.8);
  }
  75%{
    box-shadow: -2px 0 20px rgba(255,255,255,.6),0 -2px 5px rgba(255,255,255,.6),0 2px 35px rgba(255,255,255,.6),2px 0 20px rgba(255,255,255,.6);
  }
  85%{
    box-shadow: -2px 0 20px rgba(255,255,255,.4),0 -2px 5px rgba(255,255,255,.4),0 2px 35px rgba(255,255,255,.4),2px 0 20px rgba(255,255,255,.4);
  }
  100%{
   box-shadow: -2px 0 20px rgba(255,255,255,.3),0 -2px 5px rgba(255,255,255,.3),0 2px 35px rgba(255,255,255,.3),2px 0 20px rgba(255,255,255,.3);
  }
}

  $h: 5px; 
  $v: 5px;
  $r: 3deg; 
  $precision: 0.5;
  $chunk: 100%;
@keyframes leafTitle-NW {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*2+random($r*3)*-1;
      $move-x: $h*2+random($h*3)*-1;
      $move-y: $v*1+random($v*1)*1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
@keyframes leafTitle-NE {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*2+random($r*3)*-1;
      $move-x: $h*1+random($h*1)*1;
      $move-y: $v*1+random($v*1)*1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
@keyframes leafTitle-SW {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*1+random($r*1)*1;
      $move-x: $h*2+random($h*3)*-1;
      $move-y: $v*2+random($v*3)*-1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
@keyframes leafTitle-SE {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*1+random($r*1)*1;
      $move-x: $h*1+random($h*1)*1;
      $move-y: $v*2+random($v*3)*-1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
