.left-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 100%;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  text-align: right;
  z-index: 2; }

.left-panel .header {
  position: absolute;
  top: 0;
  margin: 0px 0px 0px -50px;
  width: 100%;
  z-index: 5; }

.left-panel .header .title {
  padding-top: 10px; }

.panel-title-leaf-NW {
  display: inline-block;
  color: #FFF;
  font-size: 2em;
  text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
  -webkit-animation-name: leafTitle-NW;
  animation-name: leafTitle-NW;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-NE {
  display: inline-block;
  color: #FFF;
  font-size: 2em;
  text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
  -webkit-animation-name: leafTitle-NE;
  animation-name: leafTitle-NE;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-SW {
  display: inline-block;
  color: #FFF;
  font-size: 2em;
  text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
  -webkit-animation-name: leafTitle-SW;
  animation-name: leafTitle-SW;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-SE {
  display: inline-block;
  color: #FFF;
  font-size: 2em;
  text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
  -webkit-animation-name: leafTitle-SE;
  animation-name: leafTitle-SE;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.panel-title-leaf-S {
  display: inline-block;
  color: #EEE;
  font-size: 1.5em; }

@keyframes leafShadowSeleted {
  0% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.3), 0 -2px 5px rgba(0, 238, 118, 0.3), 0 2px 35px rgba(0, 238, 118, 0.3), 2px 0 20px rgba(0, 238, 118, 0.3); }
  15% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.4), 0 -2px 5px rgba(0, 238, 118, 0.4), 0 2px 35px rgba(0, 238, 118, 0.4), 2px 0 20px rgba(0, 238, 118, 0.4); }
  25% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.6), 0 -2px 5px rgba(0, 238, 118, 0.6), 0 2px 35px rgba(0, 238, 118, 0.6), 2px 0 20px rgba(0, 238, 118, 0.6); }
  35% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.8), 0 -2px 5px rgba(0, 238, 118, 0.8), 0 2px 35px rgba(0, 238, 118, 0.8), 2px 0 20px rgba(0, 238, 118, 0.8); }
  45% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.1), 0 -2px 5px #00ee76, 0 2px 35px #00ee76, 2px 0 20px #00ee76; }
  65% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.8), 0 -2px 5px rgba(0, 238, 118, 0.8), 0 2px 35px rgba(0, 238, 118, 0.8), 2px 0 20px rgba(0, 238, 118, 0.8); }
  75% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.6), 0 -2px 5px rgba(0, 238, 118, 0.6), 0 2px 35px rgba(0, 238, 118, 0.6), 2px 0 20px rgba(0, 238, 118, 0.6); }
  85% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.4), 0 -2px 5px rgba(0, 238, 118, 0.4), 0 2px 35px rgba(0, 238, 118, 0.4), 2px 0 20px rgba(0, 238, 118, 0.4); }
  100% {
    box-shadow: -2px 0 20px rgba(0, 238, 118, 0.3), 0 -2px 5px rgba(0, 238, 118, 0.3), 0 2px 35px rgba(0, 238, 118, 0.3), 2px 0 20px rgba(255, 255, 255, 0.3); } }
@keyframes leafShadow {
  0% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.3), 0 2px 35px rgba(255, 255, 255, 0.3), 2px 0 20px rgba(255, 255, 255, 0.3); }
  15% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.4), 0 -2px 5px rgba(255, 255, 255, 0.4), 0 2px 35px rgba(255, 255, 255, 0.4), 2px 0 20px rgba(255, 255, 255, 0.4); }
  25% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.6), 0 -2px 5px rgba(255, 255, 255, 0.6), 0 2px 35px rgba(255, 255, 255, 0.6), 2px 0 20px rgba(255, 255, 255, 0.6); }
  35% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.8), 0 -2px 5px rgba(255, 255, 255, 0.8), 0 2px 35px rgba(255, 255, 255, 0.8), 2px 0 20px rgba(255, 255, 255, 0.8); }
  45% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.1), 0 -2px 5px white, 0 2px 35px white, 2px 0 20px white; }
  65% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.8), 0 -2px 5px rgba(255, 255, 255, 0.8), 0 2px 35px rgba(255, 255, 255, 0.8), 2px 0 20px rgba(255, 255, 255, 0.8); }
  75% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.6), 0 -2px 5px rgba(255, 255, 255, 0.6), 0 2px 35px rgba(255, 255, 255, 0.6), 2px 0 20px rgba(255, 255, 255, 0.6); }
  85% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.4), 0 -2px 5px rgba(255, 255, 255, 0.4), 0 2px 35px rgba(255, 255, 255, 0.4), 2px 0 20px rgba(255, 255, 255, 0.4); }
  100% {
    box-shadow: -2px 0 20px rgba(255, 255, 255, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.3), 0 2px 35px rgba(255, 255, 255, 0.3), 2px 0 20px rgba(255, 255, 255, 0.3); } }
@keyframes leafTitle-NW {
  50% {
    transform: translate(-2px, 9px) rotate(0deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.4), 0 -2px 5px rgba(255, 255, 255, 0.76), 0 2px 35px rgba(255, 255, 255, 0.21), 2px 0 20px rgba(255, 255, 255, 0.07); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
@keyframes leafTitle-NE {
  50% {
    transform: translate(6px, 10px) rotate(-2deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.63), 0 -2px 5px rgba(255, 255, 255, 0.66), 0 2px 35px rgba(255, 255, 255, 0.15), 2px 0 20px rgba(255, 255, 255, 0.95); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
@keyframes leafTitle-SW {
  50% {
    transform: translate(3px, -2px) rotate(4deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.2), 0 -2px 5px rgba(255, 255, 255, 0.96), 0 2px 35px rgba(255, 255, 255, 0.4), 2px 0 20px rgba(255, 255, 255, 0.77); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }
@keyframes leafTitle-SE {
  50% {
    transform: translate(8px, 2px) rotate(6deg);
    text-shadow: -2px 0 20px rgba(255, 255, 255, 0.44), 0 -2px 5px rgba(255, 255, 255, 0.75), 0 2px 35px rgba(255, 255, 255, 0.89), 2px 0 20px rgba(255, 255, 255, 0.74); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); } }

/*# sourceMappingURL=leaf.css.map */
