.left-panel{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 100%;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  text-align: right;
  z-index: 2;
}

.left-panel .header{
  position: absolute;
  top: 0;
  margin:0px 0px 0px -50px;
  width: 100%;  
  z-index: 5;  
}
.left-panel .header .title{
  padding-top: 10px;
}

.panel-title-leaf-NW {
    display: inline-block;
    color: #FFF;
    font-size: 2em;    
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-NW;
            animation-name: leafTitle-NW;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-NE {
    display: inline-block;
    color: #FFF;
    font-size: 2em;
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-NE;
            animation-name: leafTitle-NE;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-SW {
    display: inline-block;
    color: #FFF;
    font-size: 2em;
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-SW;
            animation-name: leafTitle-SW;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-SE {
    display: inline-block;
    color: #FFF;
    font-size: 2em;    
    text-shadow: 3px 3px 0 #666, 4px 4px 0 #eee;
    -webkit-animation-name: leafTitle-SE;
            animation-name: leafTitle-SE;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.panel-title-leaf-S {
    display: inline-block;
    color: #EEE;
    font-size: 1.5em;
}

@keyframes leafShadowSeleted {
  0%{
    box-shadow: -2px 0 20px rgba(0,238,118,.3),0 -2px 5px rgba(0,238,118,.3),0 2px 35px rgba(0,238,118,.3),2px 0 20px rgba(0,238,118,.3);
  }
  15%{
    box-shadow: -2px 0 20px rgba(0,238,118,.4),0 -2px 5px rgba(0,238,118,.4),0 2px 35px rgba(0,238,118,.4),2px 0 20px rgba(0,238,118,.4);
  }
  25%{
    box-shadow: -2px 0 20px rgba(0,238,118,.6),0 -2px 5px rgba(0,238,118,.6),0 2px 35px rgba(0,238,118,.6),2px 0 20px rgba(0,238,118,.6);
  }
  35%{
    box-shadow: -2px 0 20px rgba(0,238,118,.8),0 -2px 5px rgba(0,238,118,.8),0 2px 35px rgba(0,238,118,.8),2px 0 20px rgba(0,238,118,.8);
  }
  45%{
    box-shadow: -2px 0 20px rgba(0,238,118,.1),0 -2px 5px rgba(0,238,118,1),0 2px 35px rgba(0,238,118,1),2px 0 20px rgba(0,238,118,1);
  }
  65%{
    box-shadow: -2px 0 20px rgba(0,238,118,.8),0 -2px 5px rgba(0,238,118,.8),0 2px 35px rgba(0,238,118,.8),2px 0 20px rgba(0,238,118,.8);
  }
  75%{
    box-shadow: -2px 0 20px rgba(0,238,118,.6),0 -2px 5px rgba(0,238,118,.6),0 2px 35px rgba(0,238,118,.6),2px 0 20px rgba(0,238,118,.6);
  }
  85%{
    box-shadow: -2px 0 20px rgba(0,238,118,.4),0 -2px 5px rgba(0,238,118,.4),0 2px 35px rgba(0,238,118,.4),2px 0 20px rgba(0,238,118,.4);
  }
  100%{
   box-shadow: -2px 0 20px rgba(0,238,118,.3),0 -2px 5px rgba(0,238,118,.3),0 2px 35px rgba(0,238,118,.3),2px 0 20px rgba(255,255,255,.3);
  }
}
@keyframes leafShadow {
  0%{
    box-shadow: -2px 0 20px rgba(255,255,255,.3),0 -2px 5px rgba(255,255,255,.3),0 2px 35px rgba(255,255,255,.3),2px 0 20px rgba(255,255,255,.3);
  }
  15%{
    box-shadow: -2px 0 20px rgba(255,255,255,.4),0 -2px 5px rgba(255,255,255,.4),0 2px 35px rgba(255,255,255,.4),2px 0 20px rgba(255,255,255,.4);
  }
  25%{
    box-shadow: -2px 0 20px rgba(255,255,255,.6),0 -2px 5px rgba(255,255,255,.6),0 2px 35px rgba(255,255,255,.6),2px 0 20px rgba(255,255,255,.6);
  }
  35%{
    box-shadow: -2px 0 20px rgba(255,255,255,.8),0 -2px 5px rgba(255,255,255,.8),0 2px 35px rgba(255,255,255,.8),2px 0 20px rgba(255,255,255,.8);
  }
  45%{
    box-shadow: -2px 0 20px rgba(255,255,255,.1),0 -2px 5px rgba(255,255,255,1),0 2px 35px rgba(255,255,255,1),2px 0 20px rgba(255,255,255,1);
  }
  65%{
    box-shadow: -2px 0 20px rgba(255,255,255,.8),0 -2px 5px rgba(255,255,255,.8),0 2px 35px rgba(255,255,255,.8),2px 0 20px rgba(255,255,255,.8);
  }
  75%{
    box-shadow: -2px 0 20px rgba(255,255,255,.6),0 -2px 5px rgba(255,255,255,.6),0 2px 35px rgba(255,255,255,.6),2px 0 20px rgba(255,255,255,.6);
  }
  85%{
    box-shadow: -2px 0 20px rgba(255,255,255,.4),0 -2px 5px rgba(255,255,255,.4),0 2px 35px rgba(255,255,255,.4),2px 0 20px rgba(255,255,255,.4);
  }
  100%{
   box-shadow: -2px 0 20px rgba(255,255,255,.3),0 -2px 5px rgba(255,255,255,.3),0 2px 35px rgba(255,255,255,.3),2px 0 20px rgba(255,255,255,.3);
  }
}

  $h: 5px; 
  $v: 5px;
  $r: 3deg; 
  $precision: 0.5;
  $chunk: 100%;
@keyframes leafTitle-NW {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*2+random($r*3)*-1;
      $move-x: $h*2+random($h*3)*-1;
      $move-y: $v*1+random($v*1)*1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
@keyframes leafTitle-NE {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*2+random($r*3)*-1;
      $move-x: $h*1+random($h*1)*1;
      $move-y: $v*1+random($v*1)*1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
@keyframes leafTitle-SW {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*1+random($r*1)*1;
      $move-x: $h*2+random($h*3)*-1;
      $move-y: $v*2+random($v*3)*-1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
@keyframes leafTitle-SE {
    $interval: if($precision > 0 and $precision < 1, 100 * $precision, 10);
    $step: $interval * 1%;
    @while $step < $chunk {
      $rotate: $r*1+random($r*1)*1;
      $move-x: $h*1+random($h*1)*1;
      $move-y: $v*2+random($v*3)*-1;      
      #{$step} {
        transform: translate($move-x, $move-y) rotate($rotate);
        text-shadow: -2px 0 20px rgba(255,255,255,random(100) / 100),0 -2px 5px rgba(255,255,255,random(100) / 100),0 2px 35px rgba(255,255,255,random(100) / 100),2px 0 20px rgba(255,255,255,random(100) / 100);
      }      
      $step: $step + $interval;
    }
    #{ if($chunk < 100%, (0%, $chunk, 100%), (0%, 100%)) } {
      transform: translate(0, 0) rotate(0);
    }
}
